*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body{
    background-image: linear-gradient(to left, rgb(49, 185, 222),rgb(38, 126, 155),rgb(16, 159,
    126),rgb(39, 216, 122));
    }

    canvas{
        margin: 0 auto;
        background-color: aqua
    }